@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #4169E1;
  --background-color: #ffffff;
  --text-color: rgb(26, 26, 26);
  --highlight-color: #4a77ff;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  overflow: hidden;
}

h3 {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600 !important;
  text-transform: uppercase;
  margin-bottom: 5px;
}

ul {
  display: flex;
  gap: 80px;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  width: 100%;
  height: 100%;
}

.model-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
canvas{
  position: relative;
  top: -125px;
}

.controls-container {
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  bottom: 10px;
}
.controls-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controls {
  display: flex;
  gap: 18px;
  padding-top: 10px;
  border-top: 1px solid black;
}

input[type="radio"] {
  display: none;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  color: var(--text-color);
  font-size: 12px;
  font-weight: 500;
}

.hardware-color-controls label::before,
.body-color-controls label::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 5px;
}

input[type='radio'] + label::before{
  box-shadow: 0 0 0 1.5px var(--background-color); /* internal border */
  border: 3px solid var(--background-color); /* external border */
  transition: 250ms all ease;
}

input[value="silver"] + label::before {
  background: linear-gradient(135deg, rgba(157,157,157,1) 0%, rgba(255,255,255,1) 59%, rgba(162,162,162,1) 100%);
}

input[value="gold"] + label::before {
  background: radial-gradient(ellipse at right bottom, #FEDB37 0%, #FDB931 8%, #be8f2a 30%, transparent 80%),
              radial-gradient(ellipse at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #8f722f 62.5%, #e0b245 100%);
}

input[value="metalic-black"] + label::before {
  background: rgb(0,0,0);
  background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(64,64,64,1) 59%, rgba(0,0,0,1) 100%);
}
input[value="black"] + label::before {
  background-color: #1A1A1A;
}

input[value="brown"] + label::before {
  background-color: #8B4512;
}

input[value="blue"] + label::before {
  background-color: #104D97;
}

input[type="radio"]:checked + label {
  color: var(--primary-color);
}

.material-controls {
  display: flex;
  gap: 10px;
}

.material-controls label {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

input[type="radio"]:checked + label {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
input[type='radio']:checked + label::before{
  box-shadow: 0 0 0 1.5px var(--primary-color);
  border: 3px solid var(--background-color);
}

.material-controls label:hover {
  background-color: #ebebeb;
}

.ar-btn {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
  padding: 11px 14px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ar-btn:hover {
  background-color: var(--highlight-color);
}

.modal {
  display: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: var(--background-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  padding: 20px;
}

.modal-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.modal-text {
  width: 225px;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
}

.img-container {
  width: 190px;
  height: 190px;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#qr-code {
  width: 174px;
  height: 174px;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: var(--highlight-color);
  font-size: 28px;
  cursor: pointer;
}

.close:hover {
  color: #3c5cbd;
}


@media (min-width: 768px){
  canvas{
    top: -50px;
  }
  .controls-list{
    width: 100%;
    flex-direction: row;
    gap: 30px;
  }
  .modal{
    top: 15%;
    padding: 40px;
    border-radius: 30px;
  }
  #qr-code{
    width: 130px;
    height: 130px;
  }
  .close{
    top: 20px;
    right: 20px;
  }
  .img-container{
    border-radius: 30px;
  }
}
@media (min-width: 1024px){
   .controls-list{
    gap: 80px;
  }
}